.container {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.header img {
  width: 100px;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.user-icon {
  font-size: 36px;
  color: #333;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details p {
  margin-right: 20px;
  font-size: 16px;
}

.logout-button {
  background-color: #f05050;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.statistic {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  margin-bottom: 10px;
}

.statistic p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.statistic p:last-child {
  font-weight: normal;
  font-size: 12px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.filter {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 25%;
}

.filter label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.semester-options {
  display: flex;
  flex-direction: column;
}

.semester-options label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.semester-options input[type="radio"] {
  margin-right: 5px;
}

.table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.process-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}